* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #f5f5f5;
  font-family: "Inter", Courier, monospace;
}

header {
  background-color: #ff6b1a;
}

.top-header {
  height: 130px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  flex-wrap: wrap;
}
.top-header h1 {
  font-size: 2.4rem;
  font-weight: 700;
}
.top-header p {
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
}
.top-header img {
  margin-right: 10px;
  width: 2.6rem;
}

.header-title {
  display: flex;
}

.bottom-header {
  height: 71px;
  padding: 17px 0 17px 13px;
  align-items: center;
  background-color: #1a1a1a;
}

nav {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 10px;
  background-color: #ff6b1a;
  width: 103px;
  height: 37px;
  padding: 7px;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 17px;
  gap: 4px;
  margin-right: 5px;
}

.menu-tab {
  font-weight: 400;
  font-size: 1.7rem;
}

.icon {
  width: 17px;
  height: 2px;
  background-color: #ffffff;
}

.hero {
  display: flex;
  background-color: #2a2a2af3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 37.5rem;
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  padding: 20px;
}
.hero-title h2 {
  margin: auto;
  z-index: 1;
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.4rem;
}
.hero-title p {
  z-index: 1;
  margin: auto;
  text-align: center;
  font-size: 1.6rem;
}
.hero img {
  display: block;
  max-width: 15rem;
  opacity: 0.35;
  position: absolute;
  filter: brightness(0.5);
}

/* Cards */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 20px;
  gap: 3rem;
}
.grid-items {
  width: 324px;
  margin: auto;
  height: 200px;
  border-top: 4px solid#ff6b1a;
  padding: 24px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #666666;
  font-size: 16px;
}
.card-title {
  color: #000;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
}
main {
  margin-bottom: 160px;
}

footer {
  background-color: #1a1a1a;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90px;
}

/* Media Queries */

@media (min-width: 768px) {
  html {
    font-size: 70%;
  }

  .menu {
    display: none;
  }

  nav,
  ul,
  li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 10px;
    width: 103px;
    height: 37px;
    padding: 7px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
  }
  a:hover {
    background-color: #ff6b1a;
  }

  .active {
    background-color: #ff6b1a;
  }
  .grid-container {
    grid-template-columns: 324px 324px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 90%;
  }
  .grid-container {
    grid-template-columns: 324px 324px 324px;
  }
}
