<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <main>
      <header>
        <h1 class="layout-two">Photo Gallery</h1>
      </header>
      <div class="gallery-container">
        <div class="gallery-items">
          <img src="../assets/coffee.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leafs-in-glass.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/keyboard.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/lamp.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/flowers.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/flowers-in-glass.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leafs.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/cup.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leef.jpg" alt="coffee" />
        </div>
      </div>
    </main>
  </body>
</html>
