<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Quicksand:wght@300..700&family=Roboto:ital,wdth,wght@0,75..100,200;1,75..100,200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <header>
        <h1 class="layout-two">Photo Gallery</h1>
      </header>
      <div class="gallery-container">
        <div class="gallery-items">
          <img src="../assets/coffee.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leafs-in-glass.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/keyboard.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/lamp.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/flowers.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/flowers-in-glass.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leafs.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/cup.jpg" alt="coffee" />
        </div>
        <div class="gallery-items">
          <img src="../assets/leef.jpg" alt="coffee" />
        </div>
      </div>
    </main>
  </body>
</html>
