<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
  </head>
  <body>
    <main>
      <header>
        <h1 class="layout-one">Photo Gallery</h1>
      </header>
      <div class="grid-container">
        <div class="grid-items">
          <img src="../assets/coffee.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/leafs.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/leafs-in-glass.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/keyboard.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/lamp.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/flowers.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/flowers-in-glass.jpg" alt="photo" />
        </div>
        <div class="grid-items">
          <img src="../assets/leef.jpg" alt="photo" />
        </div>
      </div>
    </main>
  </body>
</html>
