/* Flex center */
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Flex between */
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
